.strava-activities {
  list-style: none;
  padding: 0;
  margin-bottom: 8px;
}

.strava-activities li {
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0px 1px 3px 1px lightgray;
  margin-bottom: 8px;
}

.member-spotlight {
  list-style: none;
  padding: 0;
  margin-bottom: 8px;
}

.member-spotlight li {
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 2px goldenrod;
  margin-bottom: 12px;
}

.member-spotlight-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color);
  font-weight: 500;
}

.activity-title-container {
  display: flex;
  justify-content: space-between;
}

.activity-title {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--accent-color);
}

.sample-data-title {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--primary-color);
}

.activity-title-coins {
  font-weight: bold;
  color: var(--primary-color);
}

.activity-subtitle {
  font-size: 0.9em;
  font-weight: bold;
}

.strava-icon {
  color: var(--strava-color);
}

.strava-summary {
  text-align: center;
}

.login-button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 30px;
  border: none;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 200px;
}

.empty-activity-title {
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
}

.admin-content {
  text-align: center;
  font-weight: 600;
}

.admin-accent {
  color: var(--accent-color)
}
