.fc-login-container {
  display: flex;
  align-items: center;
}

.fc-login-background {
  display: flex;
  background-color: var(--primary-color);
  height: 100vh;
  width: 200%;
  text-align: center;
  padding-top: 40vh;
}

.fc-login-form {
  width: 100%;
  min-width: 400px;
  height: 100vh;
  padding: 16px;
}

.fc-login-form-title {
  display: flex;
  justify-content: center;
}