body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Can change these later */
:root {
  --primary-color: #3ad4b8;
  --secondary-color: #8e86e5;
  --accent-color: #a968de;
  --strava-color: #fc4c02;
  --strava-color-highlight: #fb560f;
  --nav-bar-width: 200px;
}
